<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/js/main.js"></script>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <button id ="loginBtn">로그인</button>
    <a href="/user/info">회원정보 보기</a>
    <div class="layerPopup">
        <div class="loginPopup">
            <div id="loginForm">
                <h2>로그인페이지</h2>
                <input type="text" id ="userid"  placeholder="아이디를 입력해주세요">
                <input type="password" id = "userpw"  placeholder="비밀번호를 입력해주세요">
                <button id="localLogin" class="loginSubmit">로그인</button>
                <button id="kakaoLogin" class="loginSubmit kakao">카카오 로그인</button>
                <p class = "joinWord">
                    아직도 회원이 아니세요?
                    <span class="joinBtn" onclick = "location.href = '/user/join'">회원가입</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>